@model ObjectDetection.WebApp.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Blobs";
}

<html>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }
        div.gallery:hover {
            border: 1px solid #777;
        }
        div.gallery img {
            width: 100%;
            height: auto;
        }
        div.desc {
            padding: 15px;
            text-align: center;
            font-size: x-small;
        }
    </style>
</head>
<body>
    <h2>Blobs</h2>
    <h3>A list of all blobs.</h3>

    @if (Model.Blobs.Length == 0)
    {
        <p>No blobs available.</p>
    }
    else
    {
        foreach (var blob in Model.Blobs)
        {
            <div class="gallery">
                <a target="_blank" href="@blob.Url">
                    <img src="@blob.Url" alt="" width="300" height="200">
                </a>
                <div class="desc">Created: @blob.DateTime.ToString("F")</div>
            </div>
        }
    }
</body>
</html>